.vs/

RichTextEditor/bin/Release/Popotte.exe
RichTextEditor/bin/Release/Popotte.pdb
RichTextEditor/bin/x64/Release/Popotte.exe
RichTextEditor/bin/x86/Release/Popotte.exe
RichTextEditor/obj/Release/Popotte.exe
RichTextEditor/obj/Release/Popotte.pdb
RichTextEditor/obj/x64/Release/Popotte.exe
RichTextEditor/obj/x86/Release/Popotte.exe
RichTextEditor/obj/Release/Popotte.vbprojAssemblyReference.cache
RichTextEditor/obj/x64/Release/Popotte.vbprojAssemblyReference.cache
